<p id="notice"><%= notice %></p>

<h2>Contas</h2>
<%= link_to "Adicionar Conta", new_dashboard_bank_accounts_path %>


<table>
  <thead>
    <tr>
      <th>bank_code</th>
      <th>agencia</th>
      <th>agencia_dv</th>
      <th>conta</th>
      <th>conta_dv</th>
      <th>document_number</th>
      <th>legal_name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_accounts.each do |ba| %>
      <tr>

        <td><%= ba.bank_code %></td>
        <td><%= ba.agencia %></td>
        <td><%= ba.agencia_dv %></td>
        <td><%= ba.conta %></td>
        <td><%= ba.conta_dv %></td>
        <td><%= ba.document_number %></td>
        <td><%= ba.legal_name %></td>

        <td><%= link_to 'Visualizar', dashboard_product_path(p) %></td>
        <td><%= link_to 'Remover', dashboard_product_path(p), method: :delete, data: { confirm: 'Deseja remover?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
