<p id="notice"><%= notice %></p>

<p>
  <strong>Produto</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descição</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Valor Minimo</strong>
  <%= @product.min_donation %>
</p>

<%= link_to 'Back', products_path, class: "btn btn-default" %>
