<p id="notice"><%= notice %></p>

<p>
  <strong>Produto</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descição</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Valor Minimo</strong>
  <span id="min_amount"><%= @product.min_donation %></span>
</p>

<%= text_field_tag "amount", @product.min_donation,
                    {pattern: '[0-9]+([.][0-9]{1,2})*', placeholder:"23.45"} %>

<%= form_for @product, url: checkout_product_path do |f| %>
    <script type="text/javascript"
        src="https://assets.pagar.me/checkout/checkout.js"
        data-button-text="Pagar"
        data-encryption-key="ek_test_EehICatMDGJ7TpTzZZZ7zBAMQOyp2H"
        data-amount="1000">
    </script>
<% end %>

<%= link_to 'Back', products_path %>
